@model DummyAkkaNetWeb.ViewModel.CoilScheduleViewModel


<script src="~/viewlib/coilschedule/schedule.js"></script>


<table id="tb_schedule"
       data-pagination="true"
       data-use-row-attr-func="true"
       data-reorderable-rows="true"
       data-selector="true">
    <thead>
        <tr>
            <th data-field="CoilScheduleID" data-sortable="true">鋼捲編號</th>
            <th data-field="SeqNo" data-sortable="true">順序號</th>
            <th data-field="SortNo" data-sortable="true" class="colDisplay">編號</th>
            <th data-field="CreateTime" data-sortable="true">建立時間</th>
            <th data-field="OriginalSortNo" data-sortable="true" class="colDisplay">原始編號</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var shcedule in Model.CoilSchedules)
        {
            <tr>
                <td>@shcedule.Id</td>
                <td>@shcedule.SeqNo</td>
                <td class="colDisplay">@shcedule.SortNo</td>
                <td>@shcedule.CreateTime</td>
                <td class="colDisplay">@shcedule.SortNo</td>
            </tr>
        }
    </tbody>
</table>